<header class="navbar">
    <div class="logo">
        <img src="assets/images/logo klinik lagi.png" alt="Logo Klinik Syifa Pratama Sudjari">
        <span>Klinik Syifa Pratama Sudjari</span>
    </div>
    
    <nav class="nav-links">
        <a href="index.html">Home</a>
        <a href="layanan.html">Layanan</a>
        <a href="dokter.html">Dokter</a>
        <a href="artikel.html">Artikel</a>
        <a href="login.html" class="btn-login">Login Staff</a>
        <a href="pendaftaran.html" class="btn-daftar">Pendaftaran Online</a>
    </nav>
</header>